.button {
    -fx-text-fill: BLACk;

    -fx-background-color: #B2B2B2;
    -fx-background-radius: 5;
    -fx-background-insets: 1;

    -fx-border-color: Black;
    -fx-border-width: 3;
    -fx-border-radius: 5;
}

.button:hover {
    -fx-background-color: #EAEAEA;
    -fx-background-radius: 5;
    -fx-background-insets: 1;
    -fx-translate-y: -2px;

}

.button:pressed {
    -fx-background-color: #3C4048;
    -fx-background-radius: 5;
    -fx-background-insets: 1;
}

.label {
    -fx-text-fill: BLACK;
}

#userInput {
    -fx-border-color: Black;
    -fx-border-width: 3;
    -fx-border-radius: 5;

    -fx-background-color: #EAEAEA;
    -fx-background-radius: 5;
    -fx-background-insets: 1;
}

#multiplayerConnectTextfield {
    -fx-border-color: Black;
    -fx-border-width: 3;
    -fx-border-radius: 5;

    -fx-background-color: #EAEAEA;
    -fx-background-radius: 5;
    -fx-background-insets: 1;
}

#gameEnd {
    -fx-border-color: Black;
    -fx-border-width: 3;
    -fx-border-radius: 5;

    -fx-background-color: #EAEAEA;
    -fx-background-radius: 5;
    -fx-background-insets: 1;
}

#loadBox {
    -fx-border-color: Black;
    -fx-border-width: 3;
    -fx-border-radius: 5;

    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5;
    -fx-background-insets: 1;
}

#AIDifficultBox {
    -fx-border-color: Black;
    -fx-border-width: 3;
    -fx-border-radius: 5;

    -fx-background-color: #EAEAEA;
    -fx-background-radius: 5;
    -fx-background-insets: 1;
}

#multiplayerConnectTextField {
    -fx-border-color: Black;
    -fx-border-width: 3;
    -fx-border-radius: 5;

    -fx-background-color: #EAEAEA;
    -fx-background-radius: 5;
    -fx-background-insets: 1;
}

#comboBoxServerMode {
    -fx-border-color: Black;
    -fx-border-width: 3;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-family: 'Rockwell';

    -fx-font-size: 18px;
}

.combo-box:pressed {
    -fx-background-color: #3C4048;
    -fx-background-radius: 5;
    -fx-background-insets: 1;
}

.combo-box .combo-box-popup .list-cell:hover {
    -fx-background-color: black;
    -fx-background-radius: 5;
    -fx-background-insets: 1;

    -fx-text-fill: white ;
}

.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: #EAEAEA;
    -fx-text-fill: black;
    -fx-background-radius: 5;
    -fx-background-insets: 1;

    -fx-border-color: Black;
    -fx-border-width: 3;
    -fx-border-radius: 5;
}

.combo-box:focused {
    -fx-background-color: transparent;
}

#windowMode {
    -fx-border-color: Black;
    -fx-border-width: 3;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-family: 'Rockwell';

    -fx-font-size: 18px;
}

#resolution {
    -fx-border-color: Black;
    -fx-border-width: 3;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-family: 'Rockwell';

    -fx-font-size: 18px;
}

#settingsPane {
    -fx-background-color: #EAEAEA;

    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-radius: 5;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane{
    -fx-tab-min-width:120px;
    -fx-tab-max-width:120px;
    -fx-tab-min-height:40px;
    -fx-tab-max-height:40px;
    -fx-font-size: 18px;
    -fx-font-family: 'Rockwell';
}

.tab:focused {
    -fx-background-color: black;
}

.tab:selected {
    -fx-background-color: transparent;
}

.tab:selected .focus-indicator{
    -fx-background-color: transparent;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 2, 2;
    -fx-border-color: black;
    -fx-border-insets: -4 -4 -6 -5, -2 -2 -5 -3;
    -fx-border-radius: 2, 1;
}

#anchor {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

#anchor2 {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}
